@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Noto Serif", serif;
}
.conteiner{
	width: 100%;
	max-width: 1920px;
	padding: 0 120px;
	margin: auto;
}

/* Azizbek start */
/* Azizbek end */

/* Otabek start */
.hero{
	margin-top: 80px;
	margin-bottom: 80px;
}

.hero__paragrf{
	text-align: center;
	font-size: 21px;
	font-weight: 400;
	color: #333333;
}

.hero__text{
	font-size: 30px;
	font-weight: 700px;
	margin-top: 20px;
	margin-bottom: 60px;
	color: #333333;
	text-align: center;
}

.hero__box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box__fons{
	width: 165px;
	height: 61px;
	background-color: #333333;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.box__fons--paragrf{
	color: white;
	font-size: 18px;
	font-weight: 500;
}

.hero__boxx{
	width: 165px;
	height: 61px;
	background: none;
	border: 2px solid #D6D6D6;
	display: flex;
	align-items: center;
	justify-content: center;
}


.box__fons--paragrff{
	color: #333333;
	font-size: 18px;
	font-weight: 500;
}

/* Otabek end */

/* Shohruhbek start */
/* Shohruhbek end */

/* Bhriddin start  */
/* Bahriddin end */

/* Muslimbek start  */
/* Muslimbek end */