@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Noto Serif", serif;
}
.conteiner{
	width: 100%;
	max-width: 1920px;
	padding: 0 120px;
	margin: auto;
}

/* Azizbek start */
/* Azizbek end */

/* Otabek start */
.hero{
	margin-top: 80px;
	margin-bottom: 80px;
}

.hero__paragrf{
	text-align: center;
	font-size: 21px;
	font-weight: 400;
	color: #333333;
}

.hero__text{
	font-size: 30px;
	font-weight: 700px;
	margin-top: 20px;
	margin-bottom: 60px;
	color: #333333;
	text-align: center;
}

.hero__box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__boxx:active{
	border: none;
	background-color: #333333;
}


.box__fons--paragrff:active{
	color: white;
}

.hero__boxx{
	width: 165px;
	height: 61px;
	background: none;
	border: 2px solid #D6D6D6;
	display: flex;
	align-items: center;
	justify-content: center;
}


.box__fons--paragrff{
	color: #333333;
	font-size: 18px;
	font-weight: 500;
}

.hero__image{
	display: grid;
	justify-content: space-between;
	grid-template-columns: 3, 1fr;
	grid-template-rows: 2, 1fr;
	gap: 30px;
	margin-top: 55px;
	margin-bottom: 80px;
}

.hero__image--box{
	width: 350px;
	height: 280px;	
	padding-top: 222px;
	text-align: center;
}

.hero__image--box:first-child{
	grid-column: 1/2;
	background-image: url("img/Rectangle\ 5.png");
}

/* 2 */
.hero__image--box:nth-child(2){
	grid-column: 2/3;
	background-image: url("img/Rectangle\ 5\ \(1\).png");
}

/* 3 */
.hero__image--box:nth-child(3){
	grid-column: 3/4;
	background-image: url("img/Rectangle\ 5\ \(2\).png");
}

/* 4 */
.hero__image--box:nth-child(4){
	grid-column: 1/2;
	grid-row: 2/3;
	background-image: url("img/Rectangle\ 5\ \(5\).png");
}

/* 5 */
.hero__image--box:nth-child(5){
	grid-column: 2/3;
	grid-row: 2/3;
	background-image: url("img/Rectangle\ 5\ \(4\).png");
}

/* 6 */
.hero__image--box:nth-child(6){
	grid-column: 3/4;
	grid-row: 2/3;
	background-image: url("img/Rectangle\ 5\ \(3\).png");
}


.image__box{
	color: white;
	font-size: 24px;
	font-weight: 500;
}

/* Otabek end */

/* Shohruhbek start */
.container{
    width: 100%;
    height: 541px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;  
    align-items: center;       
}

.yozuvlar{
    width: 600px;
    text-align: center;
    font-size: 20px;
}

.button{
    padding: 10px 30px;
    margin-top: 40px;
    cursor: pointer;
}

/* 2peyj */
.kichik__yozuv {
    text-align: center;
    font-size: 20px;
}
.katta__yozuv {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
.imglar {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.card {
    width: 350px; 
    height: 370px;      
    position: relative; 
}

.card img {
    width: 300px;
    display: block;
}

.rasm__yozuvi {
    position: absolute;
    bottom: 70px;
    left: 150px;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    text-align: center;
}

.btn {
    padding: 15px 35px;
    background-color: #000;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;  
    cursor: pointer;
    font-size: 18px;
}

/* Shohruhbek end */

/* Bhriddin start  */
/* Bahriddin end */

/* Muslimbek start  */


.services__section{
	width: 100%;
	height: 478px;
	border: 1px solid #000;
	background-image: url(../images/Rectangle\ 9.png);
	color: white;
	text-align: center;
}

.services__section--subtitle{
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;
	color: rgba(255, 255, 255, 1);
	margin-top: 100px;
}
.services__section--title{
	font-weight: 700;
	font-size: 30px;
	line-height: 100%;
	margin-top: 15px;
}
.services__section__types{
	width: 773x;
	height: 113px;
	margin-top: 60px;
	display: flex;
	gap: 80px;
	justify-content: center;
}

.services__section__types--list{
	width: 245px;
	height: 105px;
	margin-left: 5px;
	text-align-last: left;
}

.services__section__types--list--titles{
	gap: 15px;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
}
.services__section__types--form{
	width: 448px;
	height: 113px;
	padding: 14px 15px 10px 15px  ;

}
.services__section__types--form--innerbox{
	width: 418px;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;

}

.services__section__types__form--innerbox-input{
	width: 200px;
	height: 45px;
	border: 1px solid rgba(214, 214, 214, 1);
	outline: none;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 10%;
	text-transform: uppercase;
	text-indent: 20px ;
}
.services__section__types__form--innerbox-btn{
	width: 159px;
	height: 45px;
	margin-left: 15px;
	background-color: rgba(51, 51, 51, 1);
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 10%;
	color: white;
}

.footer__section{
	width:100%;
	background:#f5f5f5;
	padding:60px 0 20px 0;
	color:#000;
	font-family:"Noto Serif", serif;
	}
	.footer__wrapper{
	width:100%;
	display:flex;
	justify-content:space-between;
	gap:40px;
	}
	.footer__col{
	width:23%;
	}
	.footer__title{
	font-size:16px;
	font-weight:600;
	margin-bottom:15px;
	border-bottom:1px solid #000;
	padding-bottom:5px;
	}
	.footer__list li{
	margin-bottom:10px;
	font-size:14px;
	}
	.footer__text{
	font-size:14px;
	line-height:140%;
	margin-bottom:15px;
	}
	.footer__cards{
	display:flex;
	gap:15px;
	}
	.card__img{
	width:50px;
	height:auto;
	}
	.social__icons ion-icon{
	font-size:20px;
	margin-right:10px;
	}
	.footer__bottom{
	width:100%;
	margin-top:40px;
	border-top:1px solid #000;
	padding-top:15px;
	display:flex;
	justify-content:space-between;
	font-size:13px;
	}



/* Muslimbek end */
