@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Noto Serif", serif;
}
.conteiner{
	width: 100%;
	max-width: 1920px;
	padding: 0 120px;
	margin: auto;
}

/* Azizbek start */
/* Azizbek end */

/* Otabek start */
/* Otabek end */

/* Shohruhbek start */
/* Shohruhbek end */

/* Bhriddin start  */
/* Bahriddin end */

/* Muslimbek start  */


.services__section{
	width: 100%;
	height: 478px;
	border: 1px solid #000;
	background-image: url(../images/Rectangle\ 9.png);
	color: white;
	text-align: center;
}

.services__section--subtitle{
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;
	color: rgba(255, 255, 255, 1);
	margin-top: 100px;
}
.services__section--title{
	font-weight: 700;
	font-size: 30px;
	line-height: 100%;
	margin-top: 15px;
}
.services__section__types{
	width: 773x;
	height: 113px;
	margin-top: 60px;
	display: flex;
	gap: 80px;
	justify-content: center;
}

.services__section__types--list{
	width: 245px;
	height: 105px;
	margin-left: 5px;
	text-align-last: left;
}

.services__section__types--list--titles{
	gap: 15px;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
}
.services__section__types--form{
	width: 448px;
	height: 113px;
	padding: 14px 15px 10px 15px  ;

}
.services__section__types--form--innerbox{
	width: 418px;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;

}

.services__section__types__form--innerbox-input{
	width: 200px;
	height: 45px;
	border: 1px solid rgba(214, 214, 214, 1);
	outline: none;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 10%;
	text-transform: uppercase;
	text-indent: 20px ;
}
.services__section__types__form--innerbox-btn{
	width: 159px;
	height: 45px;
	margin-left: 15px;
	background-color: rgba(51, 51, 51, 1);
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 10%;
	color: white;
}

.footer__section{
	width:100%;
	background:#f5f5f5;
	padding:60px 0 20px 0;
	color:#000;
	font-family:"Noto Serif", serif;
	}
	.footer__wrapper{
	width:100%;
	display:flex;
	justify-content:space-between;
	gap:40px;
	}
	.footer__col{
	width:23%;
	}
	.footer__title{
	font-size:16px;
	font-weight:600;
	margin-bottom:15px;
	border-bottom:1px solid #000;
	padding-bottom:5px;
	}
	.footer__list li{
	margin-bottom:10px;
	font-size:14px;
	}
	.footer__text{
	font-size:14px;
	line-height:140%;
	margin-bottom:15px;
	}
	.footer__cards{
	display:flex;
	gap:15px;
	}
	.card__img{
	width:50px;
	height:auto;
	}
	.social__icons ion-icon{
	font-size:20px;
	margin-right:10px;
	}
	.footer__bottom{
	width:100%;
	margin-top:40px;
	border-top:1px solid #000;
	padding-top:15px;
	display:flex;
	justify-content:space-between;
	font-size:13px;
	}



/* Muslimbek end */
